$Orange: orange;
$Purple: purple;


$Strong-Cyan: hsl(171, 66%, 44%);
$Light-Blue: hsl(233, 100%, 69%);
$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);
$White: hsla(360, 100%, 100%, 1);
$Red: red;
$Yellow: yellow;
$font-family: "Bai Jamjuree", sans-serif, "Barlow Semi Condensed", sans-serif;
